/* ── Large screen overrides (≥ 640px) ── */

@media (min-width: 320px) {
    header {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        
        /* border-bottom: solid 1px var(--terracotta); */
        /* height: 200px; */
    }

    .hamburger {
        display: none;
    }

    header nav {
        display: block;
        position: static;
        width: 100%;
        background: var(--background);
        padding: 0 1rem;
        margin-top: 1rem;
    }
    .nav-holder {
        display: flex;
        align-items: center;
    }

    .header-brand {
        flex: 0 0 auto;
    }

    header nav ul {
        gap: 1.5rem;
        flex-direction: column;
    }
    header nav ul {
        display: flex;
        flex-direction: row;
        gap: 0rem 1.25rem;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    header nav a {
        font-size: 1.25rem;
    }
    .header-brand span {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-text);
    }

    .business-cards section h2 {
        font-size: 0.5rem;
    }









    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background: var(--background);
        padding: 1rem 0;
    

    }

    footer div {
        width: 27%;
    }
}