:root {
    --terracotta: #e07a5f;
    --deep-slate-blue: #3d405b;
    --primary: #0a9396;
    --secondary: #94d2bd;
    --accent: #ee9b00;
    --background: #fefae0;
    --text: #001219;
}

.hidden {
    display: none;
}

.hamburger {
    background: none;
    border: none;
    color: var(--deep-slate-blue);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.9rem;
}

.hamburger.show::before {
    content: "\00D7";
}

body {
    max-width: 1102px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
    min-width: 260px;
}

/********************* Header **************************/
header {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.6rem 1rem;
    background-color: var(--background);
    border: solid 1px var(--terracotta);
}

header.open {
    flex-direction: column;
    align-items: flex-start;
}

.header-brand {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    flex: 1;
    /* margin-bottom: 1rem; */
}

.header-brand img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.header-brand span {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-text);
}

/* Nav */
header nav {
    width: 100%;
    display: none;
}

header nav.show {
    display: block;
    width: 200px;
}


header nav ul {
    display: block;
    flex-direction: column;
    gap: 0rem 0rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav a {
    display: block;
    text-decoration: none;
    padding: 0.75rem 0.5rem;
    color: var(--text);
    font-size: 0.9rem;
}


nav li:last-child {
    border-bottom: none;
}

header nav li.current a {
    background: var(--terracotta);
    color: var(--text);
    font-weight: 700;
}

header nav a:hover {
    background: var(--deep-slate-blue);
    color: #fff;
}

.nav-holder {
    display: flex;
    align-items: center;
    gap: 0rem;
}

/********************** Theme toggle ****************/
#theme-toggle {
    background: none;
    border: 2px solid var(--color-text);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 1;
}




/******************** Main ********************/

main {
    margin: 0.5rem 0;
    border: solid 1px var(--terracotta);

}

main h1 {
    margin: 0;
}

.hero-image {
    position: relative;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    position: absolute;
    top: 1rem;
    left: 2rem;
    right: 2rem;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: small;
    display: none;
}

#join-us-button {
    position: absolute;
    bottom: 4rem;
    right: 2rem;
    padding: 0.5rem 0rem;
    font-size: 0.9rem;
    color: var(--text);
    font-weight: 700;
    background-color: var(--terracotta);
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    border: solid 2px var(--text);
}

#grid-view,
#list-view {
    font-size: 2rem;
    color: var(--text);
    border: solid, 1px var(--text);
}

.view-toggle {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100px;
    margin-bottom: 1rem;
}

#cards {
    display: grid;
    margin-top: 2rem;
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    gap: 1rem;
    /* min-height: 600px; */
}

.business-cards section {
    border: solid 1px var(--text);
    border-radius: 10px;
    box-shadow: 0 0 30px #929292;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    font-weight: 700;
    /* min-width: 310px; */
}

.business-cards section h2 {

    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    text-align: center;
}


.business-cards section p {
    margin: 0;
    text-align: center;
    font-size: 0.7rem;
}

.business-cards section a {
    font-size: 0.7rem;
    color: blue;
    text-decoration: none;
    margin: 0;
    text-align: center;
}

.website-link,
.header-website {
    display: none;
}

thead {
    background-color: var(--terracotta);
    color: var(--text);

}

thead tr th {
    padding: 0.5rem;
    border: solid 1px var(--text);
}


tbody {
    font-size: 0.7rem;
}

tbody tr:hover {
    background-color: var(--background);
}

tbody tr td {
    padding: 0.2rem;
    border: solid 1px var(--text);
}

.zebra-even {
    background-color: #e4e4e4;
}

.zebra-odd {
    background-color: #ffffff;
}









/* Middle content  */
.middle-content {
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0;
    flex-wrap: wrap;
}

.content-holder1 {
    flex: 2;
}

.content-holder2 {
    display: flex;
    flex: 2;
    gap: 0.5rem;
    flex-wrap: wrap;
}


/* Weather and events */

.current-cards-holder {
    display: flex;
    padding: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.current-cards-holder p,
.current-cards-holder figcaption {
    margin: 0.25rem 0;
    font-size: 0.7rem;
}

.current-cards-holder p::first-letter,
.current-cards-holder figcaption::first-letter {
    /* font-size: 0.9rem; */
    font-weight: 700;
    text-transform: uppercase;
}

.current-card-right first-child {
    /* font-size: 1.2rem; */
    font-weight: 600;
    text-transform: uppercase;
}

#current-temp {
    font-size: 1.2rem;
    font-weight: 700;
}



.events,
.weather,
.forecast {
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    min-height: 150px;
    flex: 1;
    min-width: 200px;
}


/* forecast cards */
.forecast-cards-holder {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.forecast-cards {
    background: linear-gradient(to bottom right, #b8e4f9 20%, #ffe066 80%, #ffd700);
    border: solid 1px var(--text);
    border-bottom: solid 2px var(--text);
    border-right: solid 2px var(--text);
    border-radius: 4px;
    padding: 0.5rem;
    flex: 1;
    max-height: 120px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.forecast-cards::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.7), transparent);
    animation: none;
}

.forecast-cards:hover::after {
    animation: shimmer 0.7s ease-in-out 1;
}

@keyframes shimmer {
    0% {
        left: -100%;
    }

    100% {
        left: 150%;
    }
}

.forecast-cards p {
    /* color: var(--terracotta); */
    margin: 0.25rem 0;
}

.events h2,
.weather h2,
.forecast h2 {
    background-color: var(--deep-slate-blue);
    color: white;
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
}


















/******************** Footer ********************/
footer {
    display: flex;
    flex-direction: column;
    background: var(--background);
    padding: 1rem 0;
    border: solid 1px var(--terracotta);
    animation: popIn 1s ease-out forwards;
}

footer div {
    margin-top: 1rem;
}

footer .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    background: var(--background);
    padding: 1rem 0;
}

footer .social-links a {
    display: inline-flex;
}

footer .social-links img {
    display: block;
    width: 30px;
    height: 30px;
}

footer p,
.chamber-info h3,
.last-updated p {
    margin: 0.25rem 0;
    padding-left: 1rem;
    font-size: 0.7rem;
}


.text {
    cursor: text;
}

.text:hover {
    transition: 0.5s;
    box-shadow: 6px 6px 0 black;
    transform: skewY(-5deg);
    /* transform: scale(1.05); */
    /* letter-spacing: 2px; */
}


/* thank you page  */
.thank-you {
    padding: 1rem;
    text-align: center;
}
.thank-you-content {
    margin: 0.5rem;
    background: #f9f9f9;
    border: solid 1px var(--text);
    border-radius: 10px;
    padding: 1rem;
}
.thank-you h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
}
.thank-you p strong {
    padding: 0.2rem 0.5rem;
    color: var(--text);
    margin: 1rem 0;
    background: var(--terracotta);
}

.thank-you ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: inline-block;
    /* justify-content: center; */
}
.thank-you ul li {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 0.5rem;
    padding: 0.2rem 0;
}
.thank-you ul li strong {
    text-align: right;
}
.thank-you ul li span {
    text-align: left;
}



