@media only screen and (min-width: 390px) {
    /******************** Header & Nav ********************/
    
    header {
        display: grid;
        grid-template-columns: 24px auto 1fr;
        align-items: center;
        column-gap: 1rem;
    }

    .hamburger {
        display: none;
    }

    nav {
        display: block;
        position: static;
        width: 100%;
        background: var(--background);
        padding: 0.5rem;
        margin-top: 1rem;
    }

    nav ul {
        flex-direction: row;
    }
    
    nav li {
        border-bottom: none;
        border-right: 1px solid var(--terracotta);
    }
    nav a {
        /* gap: 0; */
        padding: 1rem 1.5rem;
        background: transparent;
        color: var(--text);
    }

    nav a:hover {
        background: var(--deep-slate-blue);
        color: white;
    }

    nav li.current a {
        background: var(--terracotta);
        color: var(--text);
    }

    .card-top {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
        .card-top> :first-child {
            width: 60%;
            border-radius: 8px;
        }
    .card-top> :nth-child(2) {
        width: 40%;
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin: 2rem 0;
    }




}

