:root {
    --terracotta: #e07a5f;
}
body {
    margin: auto;
    max-width: 1500px;

}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(3, 5, 94);
}

h1 {
    text-align: center;
}
header a {
    position: absolute;
    top: 1rem;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--terracotta);
    padding: 0.25rem 0.5rem;
    height: 2rem;
    align-content: center;
    width: 4rem;
    text-align: center;
}
section {
    display: flex; 
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #eee;
    border: 1px solid #787cf5;
    border-radius: 5px; 
    flex-direction: column;
    align-items: center; 
}

section>p {
    min-height: 10px;
    margin: 0;
}

img {
    margin: 1rem 0;
    width: auto;
    max-width: 380px;
    box-shadow: 0 0 30px #777;
    height: 250px;
    border: 1px solid #333;
}

footer {
    text-align: center;
    margin: 3rem 0;
    font-size: 1.8rem;
    color: #555;
}